.mat {
  outline: 2px solid whitesmoke;
}

.row {
  height: 35px;
}

.cell {
  width: 35px;
  height: 35px;
  /* outline: 1px solid red; */
  display: inline-block;
}

.snake-cell {
  background-color: burlywood;
}

.food-cell {
  background-color: red;
}
